# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Balto\Desktop\Travaux_CDA\Developper des composants d'interface\Developper une interface de type desktop\Developper avec Java\6 - Les fonctions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
