/* import fonts from fonts.css file */
@import url(./fonts.css);

/* Start Navigation */

.navbar-brand{
    padding: 0 2rem 0 5rem !important;
}

.navbar{
    padding: 1rem 20rem !important;
}

.nav-link{
    color: red !important;
}

/* End Navigation */