/* import fonts from fonts.css file */
@import url(./fonts.css);

/* Start Navigation */

#logo{
    padding: 0 2rem 0 5rem;
}

#nav{
    padding: 1rem 20rem;
}

.nav-link{
    color: red;
    !important;
}
/* End Navigation */